thead > tr > th{
    text-align: center;
    margin-top:2px ;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

tbody > tr > td{
    text-align: center;
    border-bottom: 2px solid gray;
}

#display-gs-wrapper{
    display: grid;
    justify-content: center;
}
#display-gs-wrapper > link > button{
    justify-content: center;
}

#action-gs-btn{
    text-decoration: none;
    display: grid;
    align-self: center;
    justify-self: center;
    margin: 3px;
}

/* CSS FOR EditGS.jsx */
.outer-edit-gs-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.inner-edit-gs-container{
    min-width: 600px;
    margin: 10px;
}
#input-group {
  margin: 8px;
  display: flex;
  flex-wrap: wrap; /* Wrap input groups to the next line if needed */
  align-items: center;
}

#input-group > label{
    min-width: 200px;
}

#gs-dashboard-main-container{
    min-height: 71.6vh;
}

#btn-group{
    margin-bottom: 8px;
}

#logout{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 3px;
}