.admin-login-container {
  max-width: 400px;
  max-height: 100vh;
  margin: 5% auto auto auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-login-container h2 {
  margin-bottom: 20px;
}

.admin-login-error-message {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#submit{
  width: 50%;
}
.btn-primary:hover {
  background-color: #0056b3;
}

#submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#admin-register{
  text-decoration: none;
  color: #0056b3;
}

 #submit:hover {
  background-color: #0056b3;
}

#admin-bottom-seperator{
  margin-bottom: 82px;
}

#admin-login-form {
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}